cloudpickle==2.0.0
cmake==3.26.4
contourpy==1.1.0
cycler==0.11.0
-e git+ssh://git@github.com/NeiH4207/DQN-Series.git@50d9d2183d61911cf4321aa1ed3b4ff7e7bae55d#egg=DQN_Series
-e git+ssh://git@github.com/NeiH4207/FightingGameAI.git@ab1aa6cf40142d17a065fa1881d7a52fb4e54716#egg=FightingGameAI
filelock==3.12.2
fonttools==4.40.0
gym==0.20.0
gym-notices==0.0.8
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lit==16.0.6
ma-gym==0.0.14
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.8.0.74
packaging==23.1
Pillow==9.5.0
pygame==2.4.0
pyglet==1.5.27
pyparsing==3.0.9
python-dateutil==2.8.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post4
sympy==1.12
threadpoolctl==3.1.0
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.6.3
